<%- include('./partials/header') %>
    <!-- Form for Add book -->
    <form>
        <input type="text" placeholder="Enter Book Title Here..." id="title" class="">
        <input type="text" placeholder="Enter Book ISBN Here..." id="isbn" class="">
        <input type="text" placeholder="Enter Book Publisher Here..." id="publisher" class="">
        <input type="text" placeholder="Enter Book Inventory Here..." id="inventory" class="">
        <input type="text" placeholder="Enter Book Units Sold Here..." id="unitsSold" class="">
        <input type="text" placeholder="Enter Book Tags with comma separated values here..." id="tags" class="">
        <button type="submit" id="submitBook" class="">Submit</button>
    </form>
    <%- include('./partials/footer') %>